div.tooltip {	
    position: absolute;			
    text-align: left;			
    width: 280px;					
    height: 140px;					
    padding: 4px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

.exon-chart text {
    fill: white;
    font: 10px sans-serif;
    text-anchor: end;
}

.variant-chart circle {
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 3px;
    margin: 1px;
}