<!DOCTYPE html>
<html lang="en-US">
    <body>
        <!-- This section is a searchbox for genes -->
        <div id="searchbox">
            <form action="{% url 'visualization:search_gene' %}" method="post">
                {% csrf_token %}
                <input id="searchbox-input" name= "query_gene" type="text" placeholder="Search for a gene...">
                <input type="submit" value="search">
            </form>
            {% if gene_pcsk9 %}
                <p class="text-muted">
                    Examples - Gene: <a href="{% url 'visualization:result' gene_pcsk9.name2 %}">{{ gene_pcsk9 }}</a>
                </p>
            {% else %}
                <!-- if we reach here then gene PCSK9 was not found -->
               <p> Gene PCSK9 was not found. Try a different gene name. </p> 
            {% endif %}
        </div>
</html>
