<!DOCTYPE html>
<html lang="en-US">
    <body>
        <!-- This section is a searchbox for genes -->
        <div id="searchbox">
            <form action="{% url 'visualization:search_gene' %}" method="post">
                {% csrf_token %}
                <input id="searchbox-input" name= "query_gene" type="text" placeholder="Search for a gene...">
                <input type="submit" value="search">
            </form>

            {% if error_message %}
                <p>Error: {{ error_message }}</p>
            {% endif %}

            {% if sample_gene_list %}
                <p>Sample List of Genes</p>
                <ul>
                {% for gene in sample_gene_list %}
                    <li><a href="{% url 'visualization:result' gene.name2 %}">{{ gene.name2 }}</a></li>
                {% endfor %}
                </ul>
            {% else %}
               <p> There are currently no genes available in the database.</p> 
            {% endif %}
        </div>
</html>
